<div class="alert alert-warning">
    <a routerLink= "/lugares">Lugares</a> / Contacto
</div>

<div class="row">
    <div class="col-sm-6">
            <div class="card">
                    <div class="card-body">
                            <agm-map [latitude]="lat" [longitude]="lng">
                                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                            </agm-map>
                    </div>
            </div>
    </div>
    <div class="col-sm-6">
            <div class="card">
                    <div class="card-body">
                            <label>Nombre</label>
                            <input type="text" class="form-control"/>
                            <br/>
                            <label>Correo</label>
                            <input type="email" class="form-control"/>  
                            <br/>
                            <label>Mensaje</label>
                            <textarea class="form-control"></textarea>
                            <hr/>
                            <a class="btn btn-primary">Enviar</a>
                            <a class="btn btn-secondary" routerLink="/lugares">Cancelar</a>
                        </div>
            </div>
    </div>
</div>