<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3">
      <h3>Registrarse!</h3>
        <div class="form-group">
          <label for="nombres">Nombres</label>
          <input type="text" class="form-control" [(ngModel)]="registro.nombres">
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input type="text" class="form-control" [(ngModel)]="registro.apellidos">
        </div>
        <div class="form-group">
          <label for="genero">Género</label>
          <div class="input-group mb-3">
            <select class="custom-select" [(ngModel)]="registro.genero">
              <option selected>Seleccione...</option>
              <option value="1">Femenino</option>
              <option value="2">Masculino</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="edad">Edad</label>
          <input type="text" class="form-control" [(ngModel)]="registro.edad">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="registro.email">
        </div>
        <a class="btn btn-primary btn-block" (click)="guardarUsuario()">Registrarse</a>
        <a class="btn btn-secondary btn-block">Cancelar</a>
    </div>
  </div>
</div>
